*.iml
.gradle
/local.properties

/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/codeStyles/Project.xml
/.idea/dictionaries/Administrator.xml
/.idea/libraries
/.idea/markdown-navigator-enh.xml
/.idea/markdown-navigator.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
